<div class="main fallback">
  <img alt="Woman with arms crossed." src="/img/crossedArms@2x.png" />
  <h1>Please update your Messenger app</h1>
  <p>This feature is not supported on the version of Messenger you're using. Updating to the latest version will provide the best experience for sharing ABC News stories on Messenger.</p>
</div>
