* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #3f3f3f; }

header {
  background-color: #f4f4f4;
  padding: 16px;
  border-bottom: 1px solid #eeeeee; }

div.main {
  padding: 16px; }

input[type=search] {
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 999px;
  color: #3f3f3f;
  border: 1px solid #aaaaaa;
  width: 100%; }

a {
  color: #3f3f3f; }

p {
  margin: 0 0 16px 0; }

h1, h2 {
  color: #242424;
  font-weight: 600;
  margin: 0 0 16px 0; }

ul {
  list-style: none;
  border: 0;
  padding: 0;
  margin: -5px -5px 16px -5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  ul li {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -moz-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-flex-basis: calc(50% - 5px - 5px);
    -moz-flex-basis: calc(50% - 5px - 5px);
    -ms-flex-preferred-size: calc(50% - 5px - 5px);
    flex-basis: calc(50% - 5px - 5px);
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.25);
    font-weight: 600;
    margin: 5px;
    padding: 5px;
    font-size: 10pt;
    line-height: 1.1; }
    @media (orientation: landscape) {
      ul li {
        -webkit-flex-basis: calc(25% - 5px - 5px);
        -moz-flex-basis: calc(25% - 5px - 5px);
        -ms-flex-preferred-size: calc(25% - 5px - 5px);
        flex-basis: calc(25% - 5px - 5px); } }
    @media (min-width: 768px) {
      ul li {
        padding: 10px;
        font-size: 11pt;
        line-height: 1.3; } }
    ul li a {
      text-decoration: none; }
      ul li a img {
        width: 100%;
        height: auto; }
